---
import ButtonAudio from "../components/ButtonAudio.astro";
import ButtonVideo from "../components/ButtonVideo.astro";
import Video from "../components/Video.astro";
import DfmLayout from "../layouts/DfmLayout.astro";

import { Image } from "@astrojs/image/components";

const BASE_URL = import.meta.env.BASE_URL;

interface Sponsor {
  href: string;
  src: Promise<typeof import("../../assets/img/makt.jpg")>;
  alt: string;
}

const sponsors: Sponsor[] = [
  {
    href: "https://www.facebook.com/markt.dinxperlo/",
    src: import("../../assets/img/makt.jpg"),
    alt: "De markt van Dinxperlo",
  },
  {
    href: "http://www.naaiateliermoniqueharmsen.nl/",
    src: import("../../assets/img/logo13.jpg"),
    alt: "Naaiatelier Monique Harmsen",
  },
  {
    href: "https://podesta.nl/",
    src: import("../../assets/img/logo15.jpg"),
    alt: "Podesta event supplies",
  },
  {
    href: "https://www.facebook.com/Adviesbureau-Roenhorst-Dinxperlo-234893600009274/",
    src: import("../../assets/img/logo16.jpg"),
    alt: "Adviesbureau Roenhorst Dinxperlo",
  },
  {
    href: "http://www.groentekwekerij-smits.nl/",
    src: import("../../assets/img/logo18.jpg"),
    alt: "Landwinkel Smits Groenten & Fruit | Smits Groentekwekerij B.V. | Smits Groenten en Fruit",
  },
  {
    href: "http://www.tegrotenhuisdinxperlo.nl/",
    src: import("../../assets/img/logo19.jpg"),
    alt: "Te Grotenhuis - Afvalstraat - Zand & grind verkoop - Dinxperlo",
  },
  {
    href: "https://www.tiggelovend-kok.nl/",
    src: import("../../assets/img/logo22.jpg"),
    alt: "Tiggelovend-Kok B.V.",
  },
  {
    href: "http://www.vvnf.nl/",
    src: import("../../assets/img/logo23.jpg"),
    alt: "VVNF: Vereniging Viering Nationale Feest- en Gedenkdagen Dinxperlo",
  },
  {
    href: "https://www.jumbo.com/content/jumbo-dinxperlo-heelweg/",
    src: import("../../assets/img/jumbo.jpg"),
    alt: "Jumbo Dinxperlo Leussink",
  },
  {
    href: "https://www.olddutchdinxperlo.nl/",
    src: import("../../assets/img/OldDutch.jpg"),
    alt: "Old Dutch Dinxperlo",
  },
  {
    href: "https://www.ma-shops.nl/?ref=dinxperfm",
    src: import("../../assets/img/Mashops.jpg"),
    alt: "MA-Shops",
  },
  {
    href: "https://www.expert.nl/winkels/dinxperlo?gclid=EAIaIQobChMI1Jutxdrh4AIVzLztCh02DgFoEAAYASAAEgJwevD_BwE",
    src: import("../../assets/img/Expert.jpg"),
    alt: "Expert Dinxperlo",
  },
  {
    href: "https://www.dinxperlo.nl",
    src: import("../../assets/img/AlswinGr.jpg"),
    alt: "Alswin",
  },
];
---

<DfmLayout>
  <div class="flex justify-evenly mt-20 mb-20">
    <div class="max-w-sm" style={{ width: "384px", height: "328px" }}>
      <Image
        src={import("../../assets/img/logodinxperfm.png")}
        alt="DinxperFM logo"
        width={384}
        loading="eager"
        decoding="auto"
        class="mx-auto"
        format={"webp"}
      />

      <p class="text-center mt-4">Het swingende geluid van Dinxperlo!</p>
    </div>
    <Video />
  </div>

  <nav class="flex justify-evenly bg-gray-100">
    <ul class="flex flex-wrap list-none pl-0 mb-0">
      <li class="mr-2">
        <ButtonVideo
          title="Kijk naar Dinxper FM - Het swingende geluid van Dinxperlo!"
          label="Kijk live!"
        />
      </li>
      <li>
        <ButtonAudio
          title="Luister naar Dinxper FM - Het swingende geluid van Dinxperlo!"
          label="Luister live!"
        />
      </li>

      <li>
        <a
          class="inline-block mt-3 px-4 no-underline text-blue-700"
          href={BASE_URL + "uzg"}
          title="">Uitzending gemist?</a
        >
      </li>
    </ul>
  </nav>

  <div class="mt-10 flex justify-center">
    <Image
      src={import("../../public/programmering/2022-11-12.jpeg")}
      alt="DinxperFM programmering per 2022-11-12"
      width={1131}
      format={"webp"}
      loading="eager"
      decoding="auto"
    />
  </div>
  <div class="text-center">
    <a
      target="blank"
      class="text-blue-400"
      href="/programmering/2022-11-12.jpeg">In nieuwe pagina openen</a
    >
  </div>

  <div class="mt-10 text-center">
    <h2 class="text-2xl">Dinxper FM wordt mede mogelijk gemaakt door</h2>

    <div class="flex flex-row flex-wrap justify-evenly">
      {
        sponsors.map((sponsor) => (
          <div class="p-1 mb-2">
            <a href={sponsor.href} title={sponsor.alt} target="_blank">
              <Image src={sponsor.src} alt={sponsor.alt} width={250} />
            </a>
          </div>
        ))
      }
    </div>
  </div>
</DfmLayout>
