---
interface Props {
  title: string;
  label: string;
}

const { title, label } = Astro.props;
---

<button
  id="video_button"
  class="rounded-full border border-gray-800 bg-gray-800 text-white hover:bg-gray-100 hover:text-gray-800 hover:border-gray-800 my-1 py-2 px-4"
  title={title}
>
  <span class="mr-2">{label}</span>

  <svg
    id="video_button_icon_play"
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-play inline"
    viewBox="0 0 16 16"
  >
    <path
      d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"
    ></path>
  </svg>

  <svg
    id="video_button_icon_stop"
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-stop-circle inline hidden"
    viewBox="0 0 16 16"
  >
    <path
      d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
    ></path>
    <path
      d="M5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3z"
    ></path>
  </svg>
</button>

<script>
  import { video } from "../stores.js";

  const icon_stop = document.getElementById("video_button_icon_stop")!;
  const icon_play = document.getElementById("video_button_icon_play")!;
  video.subscribe((video_on) => {
    icon_play.classList.toggle("hidden", video_on);
    icon_stop.classList.toggle("hidden", !video_on);
  });

  document.getElementById("video_button")!.addEventListener("click", () => {
    video.set(!video.get());
  });
</script>
